.profile__info {
    display: grid;
    grid-template-areas:
        "name button"
        "note .";
    gap: 8px 18px;
    align-items: center;
    margin-left: 30px;
}

@media screen and (max-width: 750px) {
    .profile__info {
        gap: 8px 14px;
        transform: translateX(12px);
        margin-left: 0;
    }
}
