.popup__input {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 0 13px;
  margin: 0;
  outline: none;
}

.popup__input:focus {
  border-bottom: 1px solid dodgerblue;
}

.popup__input::placeholder {
  opacity: .6;
}

@media (max-width: 600px) {
  .popup__input {
    padding-bottom: 9px;
  }
  .popup__input:last-of-type {
    margin-bottom: 48px;
  }
}
