.profile__user-info-box {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 8px;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 0;
  max-width: 336px;
}

@media (max-width: 768px) {
  .profile__user-info-box {
    margin-bottom: 36px;
    column-gap: 18px;
    max-width: 282px;
    padding-left: 28px;
  }
}
