.popup__input_warning {
  margin-left: 36px;
  min-height: 30px;
  font-family: 'Inter', 'Verdana', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  color: #FF0000;
  opacity: 1;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .popup__input_warning {
      margin-left: 22px;
  }
}
