.popup__window {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 330px;
  width: 430px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__window {
      min-height: 322px;
      width: 282px;
  }
}
