.card__like {
  font-size: 0;
  background-image: url(../../../image/elements/__like.svg);
  width: 22px;
  min-height: 19px;
  border: none;
  background-color: white;
  transition: 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__like:hover {
  opacity: 0.5;
}




