.card__like {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background-image: url(../../../images/Vector.png);
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.card__like:hover {
  opacity: .5;
}
