.popup__title {
  font-family: 'Inter', 'Verdana', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 75px;
}

@media (min-width: 600px) {
  .popup__title {
    margin-bottom: 48px;
    font-size: 24px;
  }
}
